<main class="main-home">
  <div class="error-band container">
    <div class="col-md-3 col-xs-12">
      <img src="../../../assets/img/icon.png" alt="Benoît Garçon logo" class="logo-error img-responsive" />
    </div>
    <div class="col-md-9 col-xs-12">
      <h1 class="row col-xs-12">You can contact me through these ways: </h1>
      <h2 class="row col-xs-12">
        <a href="https://github.com/begarco"><img src="../../../assets/img/GitHub.png" class="contact"></a>
        <a href="https://stackoverflow.com/users/8131198/begarco"><img src="../../../assets/img/StackOverflow.png" class="contact"></a>
        <a href="https://www.facebook.com/benoit.garconbesson"><img src="../../../assets/img/Facebook.png" class="contact"></a>
        <a href="https://twitter.com/begarco"><img src="../../../assets/img/Twitter.png" class="contact"></a>
      </h2>
    </div>
  </div>
</main>
