<main class="main-home">
  <div class="error-band container">
    <div class="col-md-3 col-xs-12">
      <img src="../../../assets/img/icon.png" alt="Benoît Garçon logo" class="logo-error img-responsive" />
    </div>
    <div class="col-md-9 col-xs-12">
      <h1 class="row col-xs-12">Error 401: Authorization required.</h1>
      <h2 class="row col-xs-12">You tried to access to a page for which you do not have permission. You may want to come back to my <a routerLink="/home" routerLinkActive="active">homepage</a>.</h2>
    </div>
  </div>
</main>
