.main-home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-home {
  max-height: 512px;
}

.bg-header {
  height: 50px;
  background-color: #222222;
  display: flex;
  width: 100%;
  box-shadow: 0 1px 5px #444444;
  align-items: center;
}

.logo-header {
  max-height: 40px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.bg-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}

.bg-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.header-login {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  width: 48px;
}

.header-menu {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  width: 48px;
}

.header-search {
  display: flex;
  vertical-align: middle;
  width: 200px;
}

.input-group-addon {
  background-color: #be0000;
  color: #FFFFFF;
}

.bg-header-home {
  color: white;
  text-decoration: none;
}

.glyphicon-log-in {
  font-size: 32px;
  text-shadow: 0 0 10px #be0000;
  text-decoration: none;
  color: #FFFFFF;
}

.glyphicon-log-in:hover {
  color: #be0000;
  text-shadow: 0 0 10px #ffffff;
}

.glyphicon-menu-hamburger {
  font-size: 32px;
  text-shadow: 0 0 10px #be0000;
  text-decoration: none;
  color: #FFFFFF;
}

.glyphicon-menu-hamburger:hover {
  color: #be0000;
  text-shadow: 0 0 10px #ffffff;
}

.img-main {
  max-width: 100%;
}

.caption {
  width: 100%;
  left: 0;
  padding: 1em;
  padding-bottom: 0;
  background-color: rgba(128, 0, 0, 1);
}

slide {
  background-color: #888888;
}

article {
  border-bottom: solid 1px white;
  padding: 0;
  margin-bottom: 1em;
}

article h1 {
  border-bottom: solid 1px white;
}

article p {
  text-align: justify;
}

.article-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-group {
  padding: 0;
}

.project-group article {
  text-align: justify;
  display: flex;
  flex-direction: row;
}

.project-group article:hover {
  background-color: rgba(128, 0, 0, 1);
}

.project-desc {
  display: inline-block;
  margin-left: 1em;
}

.project-desc h2 {
  margin-top: 0;
}

.img-project {
  min-width: 96px;
  max-width: 96px;
  display: inline-block;
}

.img-project img {
  max-width: 100%;
}
