<div *ngIf="project">
  <img src="{{project?.img}}" class="img-responsive text-center">
  <h2>{{project?.title}}</h2>
  <section>
    <label>Description</label><p>{{project?.desc}}</p>
    <label>Contributors</label>
    <div>
      <span *ngFor="let contributor of project.contributors">
        <img src="{{contributor?.img}}" alt="{{contributor?.name}}" class="img-responsive" style="max-height: 64px">
      </span>
    </div>
    <label>Links</label>
    <p>Fork this project on GitHub: <a href="{{project?.url}}">{{project?.title}}</a> </p>
  </section>
</div>
